@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Merriweather:ital,wght@1,300;1,400&family=Playfair+Display:ital@1&family=Poppins:wght@200;300&family=Shadows+Into+Light&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair', poppins;
}
body {
    display: inline;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:rgb(250, 211, 207);
    color: black;
 overflow-x: hidden; /*Hide horizontal scrollbar */
}
.dropbtn {
    color:rgb(250, 211, 207);
    padding: 10px;
    font-size: 16px;
    border: none;
  }
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: static;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px palevioletred;
  }
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 5px 10px;
    display: block;
    position: static;
  }
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: pink;
     display: flex;
    position: static;
    padding-right: 10;
    margin: 0;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:rgb(250, 211, 207);
    display: flex;
    justify-content: space-between; /*items are evenly distributed in the line*/
    align-items: center;
    z-index: 100; /*defines the order of overlapping HTML elements.*/
}

.logo {
    position: relative;
    font-size: 25px;
    color:black;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(234, 12, 149);
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar a {
    font-size: 18px;
    color:black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover, 
.navbar a.active {
    color: rgb(234, 12, 149);
}

.home {
    /* height: 100vh; */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 10em;
    /* padding: 0 10%; */
}

.home-content {
    max-width: 600px;
    margin-right:2em;
}

.home-content h1 { 
    position: relative;
    font-family: 'Playfair', poppins;
    font-size: 50px;
    font-weight: 1000px;
    line-height: 1.2;
    color: white;
    -webkit-text-stroke: 0.5px black;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(250, 211, 207);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color:rgb(234, 12, 149);
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(250, 211, 207);
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        text-align: left;  
        text-indent: 50px;
        background-color:  pink;
        border-radius:20px;
    }

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0; 
    width: 100%;
    height: 100%;
    background: rgb(250, 211, 207);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}
/* .home-content {
    display: flex;
} */
.home-content img {   
    display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.Image-section {
    overflow-clip-margin: content-box;
    overflow: clip;
    border-radius: 20px;
    border: 20px groove palevioletred; 
}
/* Postion of the icon */
.home-sci {
    position: absolute;
    bottom: 85px;
    width: 170px;
    left: 240px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgb(250, 211, 207);
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background: transparent;
    border: 2px solidrgb(234, 12, 149);
    font-size: 20px;
    color:rgb(234, 12, 149);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s; 
}

.home-sci a:hover {
    color: rgb(250, 211, 207);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(234, 12, 149);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%; 
}
.Book-Section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;

}
.book-info {
    max-width: 600px;
    bottom: 500px;
}

.book-info h1 {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    background-color:  rgb(234, 12, 149);
    font-family:'Shadows Into Light', cursive;
    color: whitesmoke;
    text-align: center;
    -webkit-text-stroke: 0.5px black;/* creates outline for text*/
}

.book-info h2 {
    position: relative;
    font-size: 32px;
    font-weight: 700px;
    color:rgb(234, 12, 149);
    font-family: 'Merriweather', serif;
    -webkit-text-stroke: 0.5px black;   /* creates outline*/
}
.book-info h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;  
}
.book-info p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    background-color:  pink;
    border-radius:50% 20% / 10% 40%;
    font-family:'Shadows Into Light', cursive;
    font-size: 20px;
    text-indent: 50px;
}
.image-container {
    width: 60%;
    position: relative;
}
.image-container img {
    max-width: 300px;
    float: left;
    border-radius: 10px; 
    border: 25px solid white;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin-left: 100px;
}
.image-container img:hover {
    animation: tilt-shaking;
    animation-duration: 1s;
    animation-timing-function:  linear;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  rgb(234, 12, 149);
    color: white;
    text-align: center;
}
.title-info h1{
    position: relative;
    font-size: 40px;
    font-style: oblique;
    font-weight: 700;
    line-height: 1.2;
    background:content-box radial-gradient(rgb(234, 12, 149), white);
    text-align: center;
    color: aliceblue;
    font-family:'Shadows Into Light', cursive;
    -webkit-text-stroke: 0.5px black;
}
.form-Section {
    border-radius: 30px;
    max-width:900px;
    margin: auto;
}
/* Add some padding and a grey background color to containers */
.container {
    padding: 20px;
    background-color: pink;
    border: solid;
    border-radius: 30px;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 15px;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: palevioletred;
    color: white;
    border: none;
    font-family: 'Delicious Handrawn', cursive;
    font-size:30px;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }


/* KEYFRAMES ANIMATION */
@keyframes showRight {
   100% { 
    width: 0;
} 
}
@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }