/* Reset default styles and set a background gradient, the asterisk is a universal selector */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poppins:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family:'Poppins';
    box-sizing: border-box;
  }
  /* Create a container for centering content  */ 

  .container {
    width: 100%;
    height: 100vh;
    background: rgb(250, 211, 207); /* Background color for the entire page */
    display:flex;
    align-items: center; /*Center vertically*/
    justify-content: center; /*Center horizontally*/
  }
  
  .calculator {
    background:palevioletred ; /* Background color for the calculator */
    padding: 5px; 
    border-radius: 50px; /* Rounded corners of the calculator */
    border: 3px solid black;
  }
  
  
  
  /* Style calculator buttons */
  
  .calculator form input {
  
    border: 100;
    outline: 100;
    width: 75px; /* Set button width */
    height: 70px; /* Set button height */
    border-radius: 100px ;  /* Rounded corners of the buttons */
    border: 1px solid black;
    box-shadow: -10px -0px 20px white;
    background:lightpink; 
    font-size: 35px;
    color: black; /* text colour */
    cursor: pointer; /* change the cursor to pointer on hover*/
    margin: 10px; /* Add margin between buttons */
  }
  .calculator form input:hover {
    color:rgb(234, 12, 149);
    background: white;
    animation: shake;
    animation-duration: 2.5s;
    animation-timing-function: ease;
}

  /* Style display area */
  
  form .display {
    display:flex;
    justify-content: flex-end;  /* Align the content to the right  */
    margin: 20px 0; /* Adds margin above and below the display area */
  }
  
  form .display input {
    text-align: center; /* Right- align text within the input field */
    flex: 2; /* Allows the inpit field to expand to fill available space */
    font-size: 45px; /*Set font size for the display */
    box-shadow: none; /*remove shadow */
    background: pink;
  }
  
  /* Style the equal button */
  
  form input.equal {
    width: 150px; /* set width for the = button  */
  
  }
  
  /* style the operaton buttons */
  
  form input.operator {
    color:white;  /* set color for oprator buttons */
    font-weight:bolder;
    background-color: aqua;
  
  }
  
  @keyframes shake {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
  }
 
  